
# Packages etc
node_modules/

# Generated Artifacts
build/*
app/build-vars.json
app/shell
app/www/js/templates.js
app/www/js/bundle.*
app/www/js/src
app/www/css/bundle.*
src/input-daemon/bin
src/input-daemon/obj

# Visual Studio user preferences etc
*.docstates
*.suo
*.jsproj.user
.vs/*

# Windows thumbnail cache
Thumbs.db

# Windows folder config
Desktop.ini

# Mac OS Stuff
.DS_Store

# Misc temp files
*.tmp
*.bak
