
# Packages etc
node_modules/
bower_components/

# Generated Artifacts
app/build-vars.json
app/shell
app/www/js/build-vars.js
app/www/js/templates.js
app/www/js/bundle.*
app/www/js/src
app/www/css/bundle.*
src/shell/tsd.d.ts
src/renderer/tsd.d.ts
src/input-daemon/bin
src/input-daemon/obj

# TypeScript Definitions
/typings/shell/*
/typings/renderer/*
!/typings/shell/custom/
!/typings/renderer/custom/

# Renderer Libraries
app/www/lib

# Visual Studio user preferences etc
*.docstates
*.suo
*.jsproj.user
.vs/*

# Windows thumbnail cache
Thumbs.db

# Windows folder config
Desktop.ini

# Mac OS Stuff
.DS_Store

# Misc temp files
*.tmp
*.bak
