
<div ng-controller="MenuController" class="view-menu">

    <div class="title">
        {{viewModel.title}}!!

        <div id="output">[keyboard keycodes here]</div>
    </div>

    <div class="container">

        <div class="game-info">

            <div class="game-poster">
            </div>

            <div class="player-count">
                1-4 Players
            </div>

            <div class="screen-count">
                1-2 Screens
            </div>

        </div>

        <div class="game-list">

            <div ng-repeat="game in viewModel.games"
                ng-class="{ 'selected-game': viewModel.selectedGame === game }">
                {{game.name}}
            </div>

        </div>

    </div>

    <div class="pager">
        pager
    </div>

    <div class="player-prompts">
        <div class="player1">
            {{viewModel.player1Prompt}}
        </div>
        <div class="player2">
            {{viewModel.player2Prompt}}
        </div>
    </div>

</div>
