
.view-menu {

    .version {
        position: fixed;
        right: 10px;
        top: 5px;
    }

    .title {
        font-size: 32pt;
        padding-top: 10px;
        padding-left: 10px;
        margin-bottom: 215px;
    }

    /** Game List Container **/

    .container {

        height: 700px;

        // background-color: green;

        /** Game List Container - Left **/

        .game-info {
            // background-color: red;
            display: inline-block;
            width: 30%;
            font-size: 20pt;

            .game-poster {
                margin: 10px;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center center;
                height: 550px;
                transition: background-image 0.2s ease-in-out;
                // background-color: teal;
            }

            .player-count {
                text-align: center;
            }

            .screen-count {
                text-align: center;
            }
        }

        /** Game List Container - Right **/

        .game-list {
            // background-color: yellow;
            width: 65%;
            padding: 10px;
            float: right;
            font-size: 20pt;

            /** Pager **/

            .pager {
                // border: 1px solid mediumpurple;
                text-align: center;
                font-size: 20pt;
            }

            .game-item {
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 45px;
            }

            .selected-game {
                background-image: url("../img/cursor.png");
                background-repeat: no-repeat;
                background-position-y: center;
                background-position-x: 0;
                color: $nintendo-red;
            }
        }
    }

    /** Footer **/

    .player-prompts {
        // border: 1px solid hotpink;

        .player1 {
            // border: 1px solid skyblue;
            display: inline-block;
            width: 49%;
            text-align: center;
            font-size: 20pt;
        }

        .player2 {
            // border: 1px solid orange;
            display: inline-block;
            width: 49%;
            text-align: center;
            font-size: 20pt;
        }
    }
}
