
<div ng-controller="MenuController" class="view-menu">

    <div class="version">
        {{viewModel.version}} {{viewModel.side}}
    </div>

    <div class="title">
        {{viewModel.title}}
    </div>

    <div class="n64logo"
        ng-if="controller.shouldShowN64Logo"
        ng-include src="'Views/Menu/N64-Logo.html'">
    </div>

    <div class="container">

        <div class="game-info">

            <div class="game-poster">
                <video
                    ng-show="controller.videoUrl"
                    onloadstart="this.volume=0.2"
                    src="{{controller.videoUrl}}"
                    autoplay="true"
                    loop="true">
                </video>
            </div>

            <div class="player-count">
                {{controller.playerCountDisplay}}
            </div>

            <div class="screen-count">
                {{controller.screenCountDisplay}}
            </div>

        </div>

        <div class="game-list">

            <div class="pager">
                {{controller.pagerDisplay}}
            </div>

            <div ng-repeat="game in viewModel.gamesForPage"
                class="game-item"
                ng-class="{ 'selected-game': viewModel.selectedGame === game }">
                {{game.name}}
            </div>

        </div>

    </div>

    <div class="player-prompts">
        <div class="player1">
            {{viewModel.player1Prompt}}
        </div>
        <div class="player2">
            {{viewModel.player2Prompt}}
        </div>
    </div>

</div>
