
<div ng-controller="MenuController" class="view-menu">

    <div class="title">
        {{viewModel.title}}!!

        <div id="output">[keyboard keycodes here]</div>
    </div>

    <div class="container">

        <div class="game-info">

            <div class="game-poster">
            </div>

            <div class="player-count">
                1-4 Players
            </div>

            <div class="screen-count">
                1-2 Screens
            </div>

        </div>

        <div class="game-list">

            <div>Super Mario Bros.</div>
            <div>TMNT</div>
            <div>Super Mario Bros.</div>
            <div>TMNT</div>
            <div>Super Mario Bros.</div>
            <div>TMNT</div>
            <div>Super Mario Bros.</div>
            <div>TMNT</div>
            <div>Super Mario Bros.</div>
            <div>TMNT</div>
            <div>Super Mario Bros.</div>
            <div>TMNT</div>
            <div>Super Mario Bros.</div>
            <div>TMNT</div>
            <div>Super Mario Bros.</div>
            <div>TMNT</div>
            <div>Super Mario Bros.</div>

        </div>

    </div>

    <div class="pager">
        pager
    </div>

    <div class="player-prompts">
        <div class="player1">
            P1
        </div>
        <div class="player2">
            P2
        </div>
    </div>

</div>
