
<!--
N64 rotating logo
A PEN BY Christopher Margroff
http://codepen.io/cmargroff/pen/avzGXJ
-->

<div class="n64logo">
    <div class="viewport">
        <div class="n64">

            <div class="bottom side">
                <div class="part yellow"></div>
                <div class="part vert-top red" style="transform-origin: left;"></div>
                <div class="part yellow"></div>
                <div class="part hoz-left red"></div>
                <div class="part hoz-right red"></div>
                <div class="part yellow"></div>
                <div class="part vert-bottom red"></div>
                <div class="part yellow"></div>
            </div>
            <div class="front side">
                <div class="part green"></div>
                <div class="part middle green"></div>
                <div class="part green"></div>
            </div>
            <div class="back side">
                <div class="part green"></div>
                <div class="part middle green"></div>
                <div class="part green"></div>
            </div>
            <div class="left side">
                <div class="part blue"></div>
                <div class="part middle blue"></div>
                <div class="part blue"></div>
            </div>
            <div class="right side">
                <div class="part blue"></div>
                <div class="part middle blue"></div>
                <div class="part blue"></div>
            </div>
            <div class="front inside side">
                <div class="part green"></div>
                <div class="part middle green"></div>
                <div class="part green"></div>
            </div>
            <div class="back inside side">
                <div class="part green"></div>
                <div class="part middle green"></div>
                <div class="part green"></div>
            </div>
            <div class="left inside side">
                <div class="part blue"></div>
                <div class="part middle blue"></div>
                <div class="part blue"></div>
            </div>
            <div class="right inside side">
                <div class="part blue"></div>
                <div class="part middle blue"></div>
                <div class="part blue"></div>
            </div>
            <div class="top side">
                <div class="part yellow"></div>
                <div class="part vert-top red"></div>
                <div class="part yellow"></div>
                <div class="part hoz-left red"></div>
                <div class="part hoz-right red"></div>
                <div class="part yellow"></div>
                <div class="part vert-bottom red"></div>
                <div class="part yellow"></div>
            </div>
        </div>
    </div>
</div>