
<!--
Trying to recreate Gamecube opening in CSS
A PEN BY Mauricio Allende
https://codepen.io/mallendeo/pen/FoEJw
-->

<div class="GameCube">

    <div class="cube-container">
        <div class="cube">
            <div class="face top">
                <div class="row">
                    <div data-index="2" class="square"></div>
                    <div data-index="1" class="square"></div>
                </div>
                <div class="row">
                    <div data-index="3" class="square"></div>
                </div>
                <div class="row">
                    <div data-index="4" class="square"></div>
                </div>
            </div>
            <div class="face left">
                <div class="row">
                    <div data-index="5" class="square"></div>
                </div>
                <div class="row">
                    <div data-index="6" class="square"></div>
                </div>
                <div class="row">
                    <div data-index="7" class="square"></div>
                    <div data-index="8" class="square"></div>
                    <div data-index="9" class="square"></div>
                </div>
            </div>
            <div class="face right">
                <div class="row">
                    <div class="square padding"></div>
                    <div data-index="15" class="square"></div>
                    <div data-index="14" class="square"></div>
                </div>
                <div class="row">
                    <div class="square padding"></div>
                    <div class="square padding"></div>
                    <div data-index="13" class="square"></div>
                </div>
                <div class="row">
                    <div data-index="10" class="square"></div>
                    <div data-index="11" class="square"></div>
                    <div data-index="12" class="square"></div>
                </div>
            </div>
            <div class="cube mini">
                <div class="face front"></div>
                <div class="face back"></div>
                <div class="face top"></div>
                <div class="face right"></div>
                <div class="face bottom"></div>
                <div class="face left"></div>
            </div>
        </div>
    </div>

    <div class="title">
        <h1>NINTENDO VS</h2>
        <h2>DUAL SYSTEM</h2>
    </div>

    <div class="press-start">
        Press Start
    </div>
</div>
