
<!--
3D NES controller
A PEN BY Johan van Tongeren
http://codepen.io/Dreamdealer/pen/Clutk
-->

<div class="nes-controller">

    <div class="controller">
        <ul class="sides">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <h1 class="logo">Nintendo VS<br>Dual System</h1>
        <div class="directions">
            <ul>
                <li class="updown"></li>
                <li class="leftright"></li>
            </ul>
            <ol class="updown-button">
                <li></li><li></li><li></li><li></li><li></li>
            </ol>
            <ol class="leftright-button">
                <li></li><li></li><li></li><li></li><li></li>
            </ol>
        </div>
        <div class="selectstart">
            <ul>
                <li class="select">
                    <ol>
                        <li></li><li></li><li></li>
                    </ol>
                </li>
                <li class="start">
                    <ol>
                        <li></li><li></li><li></li>
                    </ol>
                </li>
            </ul>
        </div>
        <ul class="button button-a">
            <li></li><li></li><li></li><li></li><li></li><li></li>
        </ul>
        <ul class="button button-b">
            <li></li><li></li><li></li><li></li><li></li><li></li>
        </ul>
    </div>

</div>
