
<!--
3D experiment 02: Question block
A PEN BY edokoa
http://codepen.io/edokoa/pen/MKaReW
-->

<div class="question-block">

    <div class="title">
        Nintendo VS<br>Dual System
    </div>

    <div class="center">
        <div id="cube">
            <figure class="front">
                <div class="bolt"></div>
                <div class="bolt"></div>
                <div class="bolt"></div>
                <div class="bolt"></div><span>?</span></figure>
            <figure class="back">
                <div class="bolt"></div>
                <div class="bolt"></div>
                <div class="bolt"></div>
                <div class="bolt"></div><span>?</span></figure>
            <figure class="right">
                <div class="bolt"></div>
                <div class="bolt"></div>
                <div class="bolt"></div>
                <div class="bolt"></div><span>?</span></figure>
            <figure class="left">
                <div class="bolt"></div>
                <div class="bolt"></div>
                <div class="bolt"></div>
                <div class="bolt"></div><span>?</span></figure>
            <figure class="top">
                <div class="bolt"></div>
                <div class="bolt"></div>
                <div class="bolt"></div>
                <div class="bolt"></div>
            </figure>
            <figure class="bottom"></figure>
        </div>
    </div>

    <div class="press-start">
        Press Start
    </div>
</div>
