
/*
3D experiment 02: Question block
A PEN BY edokoa
http://codepen.io/edokoa/pen/MKaReW
*/

.question-block {

    width: 100%;
    height: 100%;

    background: url("../img/blue-grid-background.png");

    animation: question-block-slide 25s linear infinite;

    @keyframes question-block-slide {
        from{
            background-position: 0px 0px;
        }
        to{
            background-position: 1187px 670px;
        }
    }

    .title {
        font-family: "Super Mario Maker";
        font-size: 120px;

        text-align: center;
        top: 60px;
        position: fixed;
        width: 100%;

        opacity: 0.7;
    }

    .press-start {
        font-family: "Super Mario Maker";
        font-size: 50px;

        text-align: center;
        bottom: 20px;
        position: fixed;
        width: 100%;

        animation: question-block-pulsate 3s ease-out;
        animation-iteration-count: infinite;
        opacity: 0.3;

        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black;
    }

    @keyframes question-block-pulsate {
        0% {
            opacity: 0.3;
        }
        50% {
            opacity: 1.0;
        }
        100% {
            opacity: 0.3;
        }
    }

    @keyframes rotCube {
        0% {
            transform: translateX(-50%) translateY(-50%) rotateX(-45deg) rotateY(0) rotateZ(0deg);
            animation-timing-function: linear;
        }
        100% {
            transform: translateX(-50%) translateY(-50%) rotateX(-45deg) rotateY(360deg) rotateZ(0);
        }
    }

    body {
        background: black;
    }

    .center {
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        left: 50%;
        top: 50%;
        perspective: 1000px;
        perspective-origin: 0% 0%;
    }

    #cube {
        font-family: 'Super Mario Maker';
        width: 200px;
        height: 200px;
        position: absolute;
        transform-origin: 50% 50%;
        transform: translateX(-50%) translateY(-50%) rotateY(45deg);
        transform-style: preserve-3d;
        animation: rotCube 12s infinite;
    }

    #cube figure {
        box-sizing: content-box;
        padding: 0;
        margin: 0;
        width: 200px;
        height: 200px;
        transform-style: preserve-3d;
        background: rgba(0, 0, 0, .5);
        display: block;
        position: absolute;
        box-shadow: inset 0px 0px 10px rgba(255, 228, 78, .8);
        box-shadow-blend-mode: overlay;
    }

    .bolt {
        height: 15px;
        width: 15px;
        border-radius: 10px;
        position: absolute;
        display: block;
        background: rgba(202, 108, 0, .8);
        ;
        transform-origin: 50% 50%;
        transform-style: preserve-3d;
        box-shadow: inset 0px 0px 5px rgba(140, 30, 0, 1), 0px 0px 6px rgba(255, 255, 150, .8);
    }

    .bolt:nth-child(1) {
        right: 10px;
        top: 10px;
    }

    .bolt:nth-child(2) {
        right: 10px;
        bottom: 10px;
    }

    .bolt:nth-child(3) {
        left: 10px;
        bottom: 10px;
    }

    .bolt:nth-child(4) {
        left: 10px;
        top: 10px;
    }

    figure span {
        color: white;
        box-sizing: content-box;
        position: absolute;
        display: block;
        font-size: 200px;
        text-align: center;
        color: #eee;
        width: 200px;
        height: 200px;
        transform-style: preserve-3d;
        text-shadow: inset 0px 1px 2px rgba(255, 255, 255, 1);
        transform-origin: 50% 50%;
        display: block;
        position: absolute;
        transform: translateX(10px) translateY(5px) translateZ(3px);
    }

    figure span::after {
        content: '?';
        color: #ddd;
        box-sizing: content-box;
        position: absolute;
        display: block;
        font-size: 200px;
        text-align: center;
        transform-style: preserve-3d;
        width: 200px;
        height: 200px;
        transform-origin: 0% 0%;
        display: block;
        position: absolute;
        transform: translateX(0px) translateY(-200px) translateZ(-1px);
    }

    figure span::before {
        content: '?';
        color: #aaa;
        text-shadow: 0px 0px 20px rgba(180, 50, 0, .5), 0px 0px 10px rgba(180, 50, 0, .5), 0px 0px 5px rgba(50, 15, 0, .5);
        box-sizing: content-box;
        position: absolute;
        display: block;
        font-size: 200px;
        text-align: center;
        transform-style: preserve-3d;
        width: 200px;
        height: 200px;
        transform-origin: 0% 0%;
        display: block;
        position: absolute;
        transform: translateX(0px) translateY(0px) translateZ(-2px);
    }

    #cube .front {
        background: #eba71f;
        transform: rotateY( 0deg) translateZ( 100px);
    }

    #cube .back {
        background: #eba71f;
        transform: rotateY( 180deg) translateZ( 100px);
    }

    #cube .right {
        background: #ffc832;
        transform: rotateY( 90deg) translateZ( 100px);
    }

    #cube .left {
        background: #e98621;
        transform: rotateY( -90deg) translateZ( 100px);
    }

    #cube .top {
        background: #FFCF01;
        transform: rotateX( 90deg) translateZ( 100px);
    }
    #cube .bottom {
        transform: rotateX( -90deg) translateZ( 100px);
    }

}
