
.smash-bros {

    @keyframes slide {
        from{
            background-position: 0px 0px;
        }
        to{
            background-position: 1191px 670px;
        }
    }

    .background {
        width: 1280px;
        height: 1024px;
        opacity: 0.7;
        background-image:url("../img/smash-bros-background.jpg");
        animation: slide 25s linear infinite;
    }

    .press-start {
        font-family: "Super Mario Maker";
        font-size: 50px;

        text-align: center;
        bottom: 20px;
        position: fixed;
        width: 100%;

        animation: smash-bros-pulsate 3s ease-out;
        animation-iteration-count: infinite;
        opacity: 0.3;

        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black;
    }

    @keyframes smash-bros-pulsate {
        0% {
            opacity: 0.3;
        }
        50% {
            opacity: 1.0;
        }
        100% {
            opacity: 0.3;
        }
    }
}
