
<!--
Zelda - A CSS Experiment by Don at hop.ie
http://hop.ie/zelda/
https://github.com/donovanh/zelda
-->

<div class="zelda">

    <div class="background-holder"></div>

    <div class="zelda-container">
        <div class="stage">
            <div class="triangle one">
                <figure class="front"></figure>
                <figure class="back"></figure>
                <figure class="side1"></figure>
                <figure class="side2"></figure>
                <figure class="side3"></figure>
            </div>
            <div class="triangle two">
                <figure class="front"></figure>
                <figure class="back"></figure>
                <figure class="side1"></figure>
                <figure class="side2"></figure>
                <figure class="side3"></figure>
            </div>
            <div class="triangle three">
                <figure class="front"></figure>
                <figure class="back"></figure>
                <figure class="side1"></figure>
                <figure class="side2"></figure>
                <figure class="side3"></figure>
            </div>
        </div>
        <div class="zeldatext">
            <h2>Nintendo</h2>
            <h1><sup>V</sup><span>ERSUS</span></h1>
            <h3>Dual System</h3>
        </div>
    </div>

    <div class="press-start">
        Press Start
    </div>
</div>
