
@font-face {
    font-family: "Press Start K";
    src: url("../font/PRSTARTK.TTF") format("truetype");
}

@font-face {
    font-family: "Super Mario Maker";
    src: url("../font/super-mario-maker/super-mario-maker.ttf") format("truetype");
}
