
<div class="view-launch-dialog">

    <div class="title">
        Options for {{viewModel.game.name}}
    </div>

    <div class="spec-layout">
        <img ng-src="img/layouts/{{viewModel.selectedSpec.layout}}.png">
    </div>

    <div class="specs">

        <div ng-repeat="spec in viewModel.specs"
            ng-class="{ 'selected-item': spec === viewModel.selectedSpec, 'disabled-item': controller.isSpecDisabled(spec) }"
            class="menu-item">
            {{controller.getSpecDisplayName(spec)}}
        </div>

        <div class="menu-item cancel"
            ng-class="{ 'selected-item': viewModel.selectedOptionIndex === viewModel.maxOptionIndex }">
            Cancel
        </div>

    </div>

</div>
